$white: #fff;
$off-white: #fafaef;

$gray-dark: #0d0d0d;
$gray-light: #727374;

$gold: #ae8c5a;
$gold-light: #eeca7f;
$gold-dark: #533f17;

$bps-green: #839457;
$bps-green-light: #9fab74;
$bps-green-dark: #66733b;

$olive: #76854f;
$olive-dark: #586438;
$olive-black: #313721;

$primary-color: $bps-green;
